<div class="container">
  <div class="row">
    <%= render 'books/list', user: @user %><!--@userか?-->
    <div class="col-md-8 offset-md-1" >
      <br>
      <div class = "table_width">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>前日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tr>
            <td><%= @today_book.count %></td>
            <td><%= @yesterday_book.count %></td>
            <td>
              <% if @yesterday_book.count == 0 %>
              前日の投稿はありません
              <% else %>
              <% @the_day_before =   @today_book.count / @yesterday_book.count.to_f  %>
              <%= (@the_day_before * 100).round %>
              <% end %>
            </td>
          </tr>
          <thead>
            <tr>
              <th>今週の投稿</th>
              <th>先週の投稿</th>
              <th>比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @this_week_book.count %></td>
              <td><%= @last_week_book.count %></td>
              <% if @last_week_book.count == 0 %>
              <td>先週の投稿はなし</td>
              <% else %>
              <td><% @the_week_before =   @this_week_book.count / @last_week_book.count.to_f  %>
              <%= (@the_week_before * 100).round %>%</td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tr><% @books.each do |book| %>
        <td>
          <%= link_to user_path(book.user.id) do %>
          <%= image_tag book.user.get_profile_image %><p>
          <%= book.user.name %>
          <% end %>
        </td>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

