
<div class="container">
<div class="row">
<%= render 'books/list', user: @user %><!--@userã‹?-->
<div class="col-md-8 offset-md-1" >

<h2>Books</h2>
<table class="table table-hover table-inverse">


<thead>
     <tr>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th colspan="3"></th>
     </tr>
    </thead>

  <tr><% @books.each do |book| %>


   <td><%= link_to user_path(book.user.id) do %>
   <%= image_tag book.user.get_profile_image %><p>
   <%= book.user.name %>
   <% end %></td>



  <td><%= link_to book.title, book_path(book) %></td>
 <td><%= book.body %></td>

</tr>





  <% end %>
 </table>



</div>
</div>
</div>